:root {
  --color-black-lightes: #808080;
  --color-black-light: #4d4d4d;
  --color-black: #000000;
  --color-grey-lightes: #e6e6e6;
  --color-grey-light: #999999;
  --color-grey-ligh: #808080;
  --color-grey-medium: #696969;
  --color-grey: #cccccc;
  --color-white: #ffffff;
  --color-grey-white: #f0f0f0;
  --color-grey-mint: #4d897c;
  --color-grey-blue: #56698f;
  --color-grey-azure: #598d9b;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-black);
  background-color: var(--color-grey-lightes);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

// .container {
//   width: $desktop__width;
//   margin: 0 auto;
//   padding: $desktop__padding;
// }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
